<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Edytuj</title>
</head>
<body>
<form action="#" th:action="@{/updateS}" th:object="${school}" method="post">
	<p>EDYTUJ</p>
	
	<table>
		<tr>
			<td><p>Nazwa</p></td>
			<td><input type="text" th:field="*{name}"/></td>
		</tr>
		
		<tr>
			<td><p>Cena</p></td>
			<td><input type="text" th:field="*{price}"/></td>	
		</tr>
		
		<tr>
			<td><p>Ilosc godzin</p></td>
			<td><input type="text" th:field="*{numberOfHours}"/></td>	
		</tr>
		
		<tr>
			<td><p>Opis</p></td>
			<td><input type="text" th:field="*{description}"/></td>	
		</tr>
		<tr>
			<td><input type="submit" value="Submit"/></td>
		</tr>
	</table>
</form>
</body>
</html>