<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<div th:text="${school.name}"></div>
	<div th:text="${school.courseTypes}"></div>
	<div th:text="${school.avarageRating}"></div>

	<h3>Opinie o szkole</h3>
	<div>
		<table>
			<tr>
				<th>Autor</th>
				<th>Ocena</th>
				<th>Data</th>
				<th>Opinia</th>
			</tr>
			<tr th:each="r : ${reviews}">
				<td th:text="${r.nickname}"></td>
				<td th:text="${r.rating}"></td>
				<td th:text="${#dates.format(r.date, 'dd-MM-yyyy')}"></td>
				<td th:text="${r.userReview}"></td>
			</tr>
		</table>
	</div>

	<h3>Dodaj opinie o szkole</h3>

	<form action="#" th:action="@{/addReview}" th:object="${review}"
		method="post">
		<table>
			<tr>
				<td>Autor:</td>
				<td><input type="text" th:field="*{nickname}" /></td>
			</tr>
			<tr>
				<td>Twoja ocena:
					<ul>
						<li th:each="r : ${rating}"><input type="radio"
							th:field="*{rating}" th:value="${r}" /> <label th:text="${r}"></label>
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Opis:</td>
				<td><textarea th:field="*{userReview}"></textarea></td>
			</tr>

			<tr>
				<td><input type="hidden" th:value="${school.id}" name="id" /></td>
			</tr>

			<tr>
				<td><input type="submit" value="Send" /></td>
				<td><input type="reset" value="Reset" /></td>
			</tr>

		</table>

		<div th:unless="${#lists.isEmpty(errors)}">
			<ul>
				<li th:each="e : ${errors}"><label th:text="${e}"></label></li>
			</ul>
		</div>
	</form>

	<br />Back to main page
	<a th:href="@{'/main'}">click here</a>
</body>
</html>