<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>Profil</title>
</head>
<body>
	Witamy

	<span sec:authorize="isAuthenticated()"> | Hello <span
		sec:authentication="name"></span>

	</span>
	
	<div>
		<br/><a th:href="@{'/users/profile/new_school'}">Dodaj szkołę</a>
	</div>
	
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
	
	<br/>Redirect to main page <a th:href="@{'/main'}">click here</a>
</body>
</html>