<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>Profil</title>
</head>
<body>
	Witamy

	<span sec:authorize="isAuthenticated()"> | <span
		sec:authentication="name"></span>

	</span>
	
	<!--   -->
	<div th:if="${hasSchool}==false">
		<br/><a th:href="@{'/addschool'}">Dodaj szkołę</a>
	</div>
	
	<div th:if="${hasSchool}==true">
		<p>Moja szkoła</p>
		
		<table>
			<tr th:text="${school.name}"></tr>
			<tr th:text="${school.price}"></tr>
			<tr th:text="${school.numberOfHours}"></tr>
			<tr th:text="${school.avarageRating}"></tr>
		</table>
		
		<br/><a th:href="@{/delete/__${school.id}__}">Usuń szkołę</a>
		
	</div>
	
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
	
	<br/>Redirect to main page <a th:href="@{'/main'}">click here</a>
</body>
</html>