<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>Profil</title>
</head>
<body>
	Witamy

	<span sec:authorize="isAuthenticated()"> | <span
		sec:authentication="name"></span>

	</span>

	<!--   -->
	<div th:if="${hasSchool}==false">
		<br />
		<a th:href="@{'/addschool'}">Dodaj szkołę</a>
	</div>

	<div th:if="${hasSchool}==true">
		<p>Moja szkoła:</p>
		<p th:text="${school.name}"/>
		<p th:text="${school.price}"/>
		<p th:text="${school.numberOfHours}"/>
		<p th:text="${school.avarageRating}"/>

		<br/>
		<a th:href="@{/addaddress}">Dodaj adres</a>
		
		<br/>
		<a th:href="@{/adddetails}">Dodaj szczegóły</a>

		<br />
		<a th:href="@{/delete/__${school.id}__}">Usuń szkołę</a> <br />
		<a th:href="@{/update/__${school.id}__}">Edytuj szkołę </a>
		
		
	</div>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>

	<br/>Redirect to main page
	<a th:href="@{'/main'}">click here</a>
</body>
</html>