<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Register</title>
</head>
<body>
	<div><p>Rejestracja</p></div>
	<form action="#" th:action="@{/register}" th:object="${user}" method="post">
		<table>
			<tr>
				<td>Nazwa uzytkownika</td>
				<td><input type="text" th:field="*{username}" /></td>
			</tr>
			
			<tr>
				<td>Adres mailowy</td>
				<td><input type="text" th:field="*{mail}" /></td>
			</tr>
	
			<tr>
				<td>Haslo</td>
				<td><input type="password" th:field="*{password}"/></td>
			</tr>
			<tr>
				<td>Potwierdz haslo</td>
				<td><input type="password" th:field="*{confirmPassword}"/></td>
			</tr>
			
			<tr>
				<td><input type="submit" value="Submit"/></td>
				<td><input type="reset" value="Reset"/></td>
			</tr>
		</table>
	</form>
</body>
</html>