<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Zaloguj sie</title>
</head>
<body>
	<div th:if="${param.error}">Login niepoprawny</div>
	<div th:if="${param.logout}">Nastąpilo wylogowanie</div>
	<form th:action="@{/login}" method="post">
		<div>
			<label> Uzytkownik: <input type="text" name="username" /></label>
		</div>
		<div>
			<label> Haslo: <input type="password" name="password" /></label>
		</div>
		<div>
			<input type="submit" value="Zaloguj" />
		</div>

	</form>
	<div>
		<p>Nie masz konta?</p>
	</div>
	<div>
		<a th:href="@{/register}">Zarejestruj sie!</a>
	</div>
</body>
</html>