<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--  <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />-->
<meta charset="UTF-8" />
<title>Kodio - welcome!</title>
</head>
<body>
	<div>

		<div>
			<ul>
				<li><a th:href="@{'/main'}">Main</a></li>
				<li><a th:href="@{'/about'}">Projekt</a></li>
				<li><a th:href="@{'/contact'}">Kontakt</a></li>
			</ul>
			<form action="#" th:action="@{/schools}" method="get">
				<table>
					<tr>
						<td><input type="text" name="query" th:placeholder="Warszawa"/></td>
						<td><input type="submit" value="Szukaj"/></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>