<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Dodaj adres</title>
</head>
<body>
<p>Dodaj adres:</p>
	<form action="#" th:action="@{/address/add}" th:object="${address}"
		method="post">
		<table>
			<tr>
				<td>Miejscowość</td>
				<td>
					<select th:field="*{city}">
						<option th:each="it : ${cities}" th:value="${it}" th:text="${it}"></option>
					</select>
				</td>
			</tr>
			

			<tr>
				<td>Ulica</td>
				<td><input type="text" th:field="*{street}" /></td>
			</tr>

			<tr>
				<td><p>Kod pocztowy</p></td>
				<td><input type="text" th:field="*{postalCode}" /></td>
			</tr>			
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form>

	<div th:unless="${#lists.isEmpty(errors)}">
		<ul>
			<li th:each="e : ${errors}"><label
				th:text="${e.getDefaultMessage()}"></label></li>
		</ul>
	</div>

</body>
</html>